let mapleader=','
nnoremap \ ,

" set nohlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber
set scrolloff=2
set history=100000
set clipboard=unnamed
set surround
set multiple-cursors
set backspace=indent,eol,start
set nocompatible

" clear the highlighted search result
nnoremap <Space>sc :nohlsearch<CR>

nnoremap <Space>fs :w<CR>

" Quit normal mode
nnoremap <Space>q  :q<CR>
nnoremap <Space>Q  :qa!<CR>

" Move half page faster
nnoremap <Space>d  <C-d>
nnoremap <Space>u  <C-u>

" Insert mode shortcut
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-d> <Delete>

" Quit insert mode
inoremap jk <Esc>

" Quit visual mode
vnoremap v <Esc>

" Move to the start of line
nnoremap <Leader>h ^

" Move to the end of line
nnoremap <Leader>l $

nnoremap K %
" Redo
nnoremap U <C-r>

" Yank to the end of line
nnoremap Y y$

" Window operation
nnoremap <Space>ww <C-W>w
nnoremap <Space>wd <C-W>c
nnoremap <Space>wj <C-W>j
nnoremap <Space>wk <C-W>k
nnoremap <Space>wh <C-W>h
nnoremap <Space>wl <C-W>l
nnoremap <Space>ws <C-W>s
nnoremap <Space>w- <C-W>s
nnoremap <Space>wv <C-W>v
nnoremap <Space>w\| <C-W>v

" Tab operation
nnoremap tn gt
nnoremap tp gT
nnoremap tc :close<CR>

" ==================================================
" Show all the provided actions via `:actionlist`
" ==================================================

" built in search looks better
" nnoremap / :action Find<CR>
" but preserve ideavim search
nnoremap <Space>/ /

nnoremap <Space>cl :action CommentByLineComment<CR>

nnoremap <Space>bb :action ToggleLineBreakpoint<CR>
nnoremap <Space>br :action ViewBreakpoints<CR>

nnoremap <Space>cv :action ChangeView<CR>

nnoremap <Space>cd :action ChooseDebugConfiguration<CR>

nnoremap ga :action GotoAction<CR>
nnoremap gc :action GotoClass<CR>
" nnoremap <Space>gd :action GotoDeclaration<CR>
nnoremap gf :action Forward<CR>
nnoremap gb :action Back<CR>
nnoremap <Space>gi :action GotoImplementation<CR>
nnoremap gs :action GotoSymbol<CR>
nnoremap <Space>gt :action GotoTest<CR>

nnoremap <Space>fp :action ShowFilePath<CR>
nnoremap <Space>fu :action FindUsages<CR>

nnoremap <Space>ic :action InspectCode<CR>

nnoremap <Space>sl :action ActivateStructureToolWindow<CR>

nnoremap <Space>oi :action OptimizeImports<CR>

nnoremap <Space>pm :action ShowPopupMenu<CR>

nnoremap <Space>rc :action ChooseRunConfiguration<CR>
nnoremap <Space>re :action RenameElement<CR>
nnoremap <Space>rf :action RenameFile<CR>

nnoremap <Space>se :action SearchEverywhere<CR>
nnoremap <Space>su :action ShowUsages<CR>

nnoremap <Space>tc  :action CloseActiveTab<CR>
nnoremap <Space>tl Vy<CR>:action ActivateTerminalToolWindow<CR>
vnoremap <Space>tl y<CR>:action ActivateTerminalToolWindow<CR>

set clipboard+=ideaputset
set clipboard+=ideajoin
set clipboard+=ideaput
set ideajoin
